<div class="card lightCard">
  <div class="header"> VARIABLES</div>
  <div class="cardContent">
    <div class="definition">Sass variables are simple: you assign a value to a name that begins with $, and then you can
      refer to that name instead of the value itself. But despite their simplicity, they're one of the most useful tools
      Sass brings to the table. Variables make it possible to reduce repetition, do complex math, configure libraries,
      and
      much more.
    </div>

    <div class="link">
      <a href="https://sass-lang.com/documentation/variables" target="_blank" rel="noopener noreferrer">
        Refer
        Documentation
      </a>
    </div>
    <div class="codeSnippet">Code Snippet Here</div>
  </div>
</div>

<hr>

<div class="card darkCard">
  <div class="header">IMPORT</div>
  <div class="cardContent">
    <div class="definition">Sass extends CSS's @import rule with the ability to import Sass and CSS stylesheets,
      providing
      access to mixins, functions, and variables and combining multiple stylesheets' CSS together. Unlike plain CSS
      imports, which require the browser to make multiple HTTP requests as it renders your page, Sass imports are
      handled
      entirely during compilation.</div>
    <div class="link">
      <a href="https://sass-lang.com/documentation/at-rules/import" target="_blank" rel="noopener noreferrer">
        Refer
        Documentation
      </a>
    </div>
    <div class="codeSnippet">Code Snippet Here</div>
  </div>
</div>


<hr>

<div class="card lightCard">
  <div class="header"> MIXIN</div>
  <div class="definition">Mixin Definition Here... .</div>
  <div class="codeSnippet">Code Snippet Here</div>
</div>

<hr>

<div class="card darkCard">
  <div class="header">INCLUDE</div>
  <div class="definition">Mixin Definition Here... .</div>
  <div class="codeSnippet">Code Snippet Here</div>
</div>


<hr>

<div class="card lightCard">
  <div class="header"> ADVANTAGES</div>
  <div class="definition">Mixin Definition Here... .</div>
  <div class="codeSnippet">Code Snippet Here</div>
</div>
